*{
margin: 0;
padding: 0;


}
.content{
    position: absolute;
    top: 5vh;
    left: 38vw;

}
.fundo img{
    width: 100vw;


}
.cabecalho img{
    width: 200px;
    
}
h1{
    color: beige;
    font-size: 30px;
    
}
h2{
    color: beige;
    font-size: 16px;

}